{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="container-login forms">
    <!-- Login Form -->

    <div class="form login">
        <div class="form-content">
            {% if messages %}
            <ul style="display: flex;justify-content: center;">
                {% for message in messages %}
                {% if 'error' in message.tags %}
                <li style="font-size: 16px; color: red;">{{message}}</li>
                {% endif %}
                {% if 'success' in message.tags %}
                <li style="font-size: 16px; color: green;">{{message}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <header>Login</header>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input" name="email">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="{% url 'register' %}" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>

    </div>



</section>

{% endblock %}