<div class="col text-center">
    <div class="block-27">
        <ul>
            {% if page.has_previous %}
            <li><a href="{% url 'store' %}?page={{page.previous_page_number}}">&lt;</a></li>
            {% endif %}

            {% if page.number|add:'-2' > 1 %}
            <li><a href="{% url 'store' %}?page=1">1</a></li>
            <li><a href="{% url 'store' %}?page={{page.number|add:'-2'}}">...</a></li>
            {% endif %}


            {% for num_page in page.paginator.page_range %}

            {% if page.number == num_page %}
            <li class="active"><a href="{% url 'store' %}?page={{num_page}}">{{num_page}}</a></li>
            {% elif num_page > page.number|add:'-2' and num_page < page.number|add:'2' %} <li><a
                    href="{% url 'store' %}?page={{num_page}}">{{num_page}}</a></li>

                {% endif %}
                {% endfor %}

                {% if page.paginator.num_pages > page.number|add:'2' %}
                <li><a href="{% url 'store' %}?page={{page.number|add:'2'}}">...</a></li>
                <li><a href="{% url 'store' %}?page={{page.paginator.num_pages}}">{{page.paginator.num_pages}}</a></li>
                {% endif %}

                {% if page.has_next %}
                <li><a href="{% url 'store' %}?page={{page.next_page_number}}">&gt;</a>
                </li>
                {% endif %}
        </ul>
    </div>
</div>