{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% block content %}

<section class="container-login forms">
    <!-- Signup Form -->

    <div class="form signup">
        <div class="form-content">
            {% if messages %}
            <ul style="display: flex;justify-content: center; flex-direction: column;">
                {% for message in messages %}
                {% if 'error' in message.tags %}
                <li style="font-size: 12px; color: red;">{{message}}</li>
                <li style="font-size: 12px; color: red;">{{form.phone_number.errors}}</li>
                {% endif %}
                {% if 'success' in message.tags %}
                <li style="font-size: 16px;color: green;">{{message}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            
            <header>Signup</header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <small class="required-field">*required</small>
                <div class="field input-field">
                    {{form.email}}
                </div>
                <small class="required-field">*required</small>

                <div class="field input-field">
                    {{form.first_name}}
                </div>
                <small class="required-field">*required</small>

                <div class="field input-field ">
                    {{form.last_name}}
                </div>

                <div class="field input-field" style="margin-top: 28px;">
                    {{form.phone_number}}
                </div>
                <small class="required-field">*required</small>


                <div class="field input-field password">
                    {{form.password}}

                </div>
                <small class="required-field">*required</small>

                <div class="field input-field password">
                    {{form.confirm_password}}

                    
                </div>
               
                <div class="field button-field">
                    <button type="submit">Signup</button>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a href="{% url 'login' %}" class="link login-link">Login</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="{% provider_login_url 'google' %}?next=/"  class="field google">
                <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>

    </div>
</section>

{% endblock %}