{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container-login forms">
    <!-- Verify OTP and Reset Password Form -->
    <div class="form login">
        <div class="form-content">
            {% if messages %}
            <ul style="display: flex; justify-content: center;">
                {% for message in messages %}
                {% if 'error' in message.tags %}
                <li style="font-size: 16px; color: red;">{{ message }}</li>
                {% endif %}
                {% if 'success' in message.tags %}
                <li style="font-size: 16px; color: green;">{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <header>Verify OTP and Reset Password</header>
            <form action="{% url 'verify_otp_for_password_reset' %}" method="POST">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="text" placeholder="Enter OTP" class="input" name="otp" required>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="New Password" class="password" name="new_password" required>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm New Password" class="password" name="confirm_password"
                        required>
                </div>
                <div class="field button-field mt-3">
                    <button type="submit">Verify and Reset</button>
                </div>
            </form>

        </div>

    </div>
</section>
{% endblock %}