{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>Cart</span>
				</p>
				<h1 class="mb-0 bread">My Wishlist</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for cart_item in cart_items %}
							<tr class="text-center">
								<td class="product-remove"><a
										href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"><span
											class="ion-ios-close"></span></a></td>

								<td class="image-prod">
									<div class="img" style="background-image:url({{cart_item.product.image.url}});">
									</div>
								</td>

								<td class="product-name">
									<h3><a href="{{cart_item.product.get_url}}">{{cart_item.product.product_name}}</a></h3>
									<p class="text-muted small">
										{% if cart_item.variations.all %}
										{% for item in cart_item.variations.all %}
										{{item.variation_category|capfirst}} :
										{{item.variation_value|capfirst}}<br>
										{% endfor %}
										{% endif %}
									</p>
								</td>

								<td class="price">${{cart_item.product.price}}</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<span class="input-group-btn mr-2">
											<a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"
												style="border-radius: 0;" type="button" class="quantity-left-minus btn"
												data-type="minus" data-field="">
												<i style="color: black;" class="ion-ios-remove"></i>
											</a>
										</span>
										<input type="text" name="quantity" class="quantity form-control input-number"
											value="{{cart_item.quantity}}" min="1" max="100">

										<span class="input-group-btn ml-2">
											<form action="{% url 'add_cart' cart_item.product.id  %}" method="POST">
												{% csrf_token %}
												{% for item in cart_item.variations.all %}
												<input type="hidden" name="{{item.variation_category|lower}}"
													value="{{item.variation_value|capfirst}}">
												{% endfor %}
												<button style="border-radius: 0;" type="submit"
													class="quantity-right-plus btn" data-type="plus" data-field="">
													<i style="color: black;" class="ion-ios-add"></i>
												</button>
											</form>
										</span>
									</div>
								</td>

								<td class="total">${{cart_item.sub_total}}</td>
							</tr><!-- END TR-->

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Total</span>
						<span>${{total}}</span>
					</p>
					<!-- <p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p> -->
					<p class="d-flex">
						<span>Tax</span>
						<span>${{tax}}</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Grand Total</span>
						<span>${{grand_total}}</span>
					</p>
				</div>
				<p class="text-center"><a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Proceed to
						Checkout</a></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}